In [50]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [55]:
df=pd.read_csv('/kaggle/input/carpricess/carprices.csv')
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [56]:
df=df.drop(['Car Model'],axis='columns')
df

    Mileage  Sell Price($)  Age(yrs)
0     69000          18000         6
1     35000          34000         3
2     57000          26100         5
3     22500          40000         2
4     46000          31500         4
5     59000          29400         5
6     52000          32000         5
7     72000          19300         6
8     91000          12000         8
9     67000          22000         6
10    83000          20000         7
11    79000          21000         7
12    59000          33000         5

In [59]:
X=df[['Mileage','Age(yrs)']]
y=df['Sell Price($)']
X_train , X_test , y_train , y_test=train_test_split(X,y,test_size=0.2,)

In [60]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [61]:
X_train

    Mileage  Age(yrs)
6     52000         5
12    59000         5
4     46000         4
0     69000         6
7     72000         6
3     22500         2
1     35000         3
9     67000         6
11    79000         7
2     57000         5

In [62]:
model.predict(X_test)

array([16474.14873616, 25925.02611239, 14399.84854815])

In [63]:
y_test

10    20000
5     29400
8     12000
Name: Sell Price($), dtype: int64

In [64]:
model.score(X_test,y_test)

0.8004943067210631